In [9]:
produtos = [
    {"nome": "Ipad", "preco": 12000, "quantidade": 500},
    {"nome": "Notebook", "preco": 15000, "quantidade": 1200},
    {"nome": "Desktop PC", "preco": 18000, "quantidade": 300},
    {"nome": "Airpod", "preco": 25000, "quantidade": 200},
    {"nome": "Smartv", "preco": 5000, "quantidade": 300},
]

display(produtos)

[{'nome': 'Ipad', 'preco': 12000, 'quantidade': 500},
 {'nome': 'Notebook', 'preco': 15000, 'quantidade': 1200},
 {'nome': 'Desktop PC', 'preco': 18000, 'quantidade': 300},
 {'nome': 'Airpod', 'preco': 25000, 'quantidade': 200},
 {'nome': 'Smartv', 'preco': 5000, 'quantidade': 300}]

In [11]:
import pandas as pd

tabela = pd.DataFrame(produtos)
tabela["Faturamento"] = tabela["preco"] * tabela["quantidade"]
tabela["PercentualDesconto"] = 5
display(tabela)

         nome  preco  quantidade  Faturamento  PercentualDesconto
0        Ipad  12000         500      6000000                   5
1    Notebook  15000        1200     18000000                   5
2  Desktop PC  18000         300      5400000                   5
3      Airpod  25000         200      5000000                   5
4      Smartv   5000         300      1500000                   5